@if (tokenValidation) {
<div class="content" fxLayout="row">
  <div class="rightContent" fxFlex="25%" fxLayout="column">

    <div class="userprofile" fxFlex="10.5%">
      <img src="{{localUserDetails.imgUrl}}" class="userImg" fxFlex="20%" fxLayoutAlign="start start">
      <p>{{localUserDetails.name}}</p>
      <div class="profileContent" fxFlex="80%" fxLayoutAlign="end end" fxLayoutGap="30px">
        <i class="fa-regular fa-moon fa-xl" style="color: #a6aab0;"></i>
        <i class="fa-regular fa-message fa-xl" style="color: #aaaeb6;"></i>
        <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #a7a8aa;"></i>
      </div>
    </div>

    <div class="serachBox" fxFlex="7%">
      <!-- <input type="text" class="searchInput" fxFlex="100%" placeholder="Search or start a new chat" class="searchInput"> -->
      <div class="searchInput" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <i class="fa-solid fa-magnifying-glass fa-sm" style="color: #a9acb2;" fxFlex="5%"></i>
        <p class="inputContent" fxFlex="95%">Search or start a new chat</p>
      </div>
    </div>

    <div class="navigation" fxFlex="7%" fxLayoutGap="20%" fxLayoutAlign="start center">
      <div fxFlex="10%">Chats</div>
      <div fxFlex="10%">Groups</div>
      <div fxFlex="10%">Status</div>
      <div fxFlex="10%">Calls</div>
    </div>
    <div class="friends" fxFlex="55%">
      @for (user of users; track $index) {
      <!-- @if (user.id != userId) { -->
      <div class="users" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <div class="usersImg">
          @if (user.imgUrl) {
          <img src="{{user.imgUrl}}" class="userImg" fxLayoutAlign="center center">
          }
          @else {
          <img src="/userIcon.jpeg" class="userImg" fxLayoutAlign="center center">
          }
        </div>
        <div class="usersName" (click)="receiverId(user.id,user.name)" fxLayout="column" fxLayoutGap="1px">
          <p fxFlex="60%" class="name">{{user.name}} </p>
          <ng-container *ngIf="user.message?.content; else noMsg">
            <p fxFlex="40%" class="msg">{{ user.message.content }}</p>
          </ng-container>
          <ng-template #noMsg>
            <p fxFlex="40%" class="msg">No message</p>
          </ng-template>
        </div>
        <div class="userUnread" fxFlex="30%">
        </div>
      </div>
      <!-- } -->
      }
    </div>
  </div>

  <div class="leftContent" fxFlex="75%">
    <div class="messages">
      <app-chat></app-chat>
    </div>
  </div>
</div>
}
@else {
<p>{{error}}</p>
}